body, html {
    background-color: #f6f6f6;
}

#painting {
	height: 400px;
	width: 400px;
	background-color: #fff4db;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 0px #8d8d8d;

}

#top-row {
	height: 290px;
}

#big-box {
	width: 290px;
	height: 290px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.black {
	background-color: black;
}

.chartreuse {
	background-color: #b0f40b;
}

.periwinkle {
	background-color: #4597f4;
}

.magenta {
	background-color: #f42fe8
}

.right {
	float: right;
}

.left {
	float: left;
}

#top-vert-line {
	width: 10px;
	height: 290px;
}

#top-left-column {
	width: 110px;
	height: 300px;
}

.medium-box {
	width: 100px;
	height: 140px;
}

#top-horiz-line {
	width: 100px;
	height: 10px;
}

#middle-row {
	height: 10px;
}

#bottom-row {
	height: 100px;
}

#left-bottom-box {
	width: 100px;
	height: 100px;
}

#left-vert-line {
	width: 10px;
	height: 100px;
}

#small-column {
	width: 40px;
	height:100px;
}

#small-horiz-line {
	width: 40px;
	height: 10px;
}

.small-box {
	width: 40px;
	height: 45px;
}

#right-vert-line{
	width: 10px;
	height: 100px;
}






